.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navBar {
  /* display: inline-flex; */
  display: inline-block;
  color: white;
  position: relative;
  z-index: 9999;
}

/* .home {
  display: inline-block;
  color: red;
  position: absolute;
  z-index: 9999;
} */

.log {
  z-index: 10;
  position: relative;
  color: white;
}

/* .signup {
  z-index: 10;
  position: relative;
  color: white;
}

.login {
  z-index: 10;
  position: relative;
  color: white;
} */

.username {
  z-index: 10;
  position: relative;
  color: white;
}

.password {
  z-index: 10;
  position: relative;
  color: white;
}

.content {
  z-index: 10;
  position: relative;
  color: white;
}
.reviewInput {
  margin-top: 5px;
  color: #000;
}

.submit {
  margin-top: 5px;
  z-index: 10;
  position: relative;
  color: white;
  background: black;
}

a.active {
  color: green;
}

#logged_in {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgb(206, 203, 13);
  z-index: 10;
  margin: 0;
  padding: 0;
}

.gm-style-iw {
  background-color: rgb(26, 26, 26) !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 115px !important;
  padding: 0 0 0 10px !important;
  display: block !important;
}

.gm-style div div div div div div div div {
  background-color: white !important;
  padding: 0;
  margin: 0;
  top: 0;
}

.gm-style .gm-style-iw-c {
  padding-right: 10px !important;
  padding-bottom: 0px !important;
  max-width: 200px !important;
  max-height: 326px !important;
  min-width: 0px !important;
  height: 160px !important;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background-color: #dd9191;
  border-radius: 8px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text {
  color: black;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}
